name: pre-commit-autoupdate

on:
  schedule:
  - cron: 12 6 * * 1
  workflow_dispatch:

jobs:
  pre-commit-autoupdate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install pre-commit
    - run: pre-commit autoupdate
    - id: cpr
      uses: peter-evans/create-pull-request@v5.0.0
      with:
        token: ${{ secrets.PAT }}
        add-paths: .pre-commit-config.yaml
        commit-message: '[pre-commit] automatic update'
        title: '[pre-commit] automatic update'
        branch: 'create-pull-request/pre-commit'
        body: ''
    - id: mpr
      if: steps.cpr.outputs.pull-request-operation == 'created'
      uses: peter-evans/enable-pull-request-automerge@v3
      with:
        token: ${{ secrets.PAT }}
        pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
        merge-method: squash
    - id: apr
      if: steps.cpr.outputs.pull-request-operation == 'created'
      uses: juliangruber/approve-pull-request-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        number: ${{ steps.cpr.outputs.pull-request-number }}
